!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title
    = yield(:title)
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %header
    %nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        %a.navbar-brand{:href => "index.html"} My Blog
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          Menu
          %i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link{:href => "/"} Home
            %li.nav-item
              %a.nav-link{:href => "/about"} About
            %li.nav-item
              %a.nav-link{:href => "/posts"} Sample Post
            %li.nav-item
              %a.nav-link{:href => "/contact"} Contact
  %main
    = yield
  %footer
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          %ul.list-inline.text-center
            %li.list-inline-item
              %a{:href => "#"}
                %span.fa-stack.fa-lg
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-twitter.fa-stack-1x.fa-inverse
            %li.list-inline-item
              %a{:href => "#"}
                %span.fa-stack.fa-lg
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-facebook.fa-stack-1x.fa-inverse
            %li.list-inline-item
              %a{:href => "#"}
                %span.fa-stack.fa-lg
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-github.fa-stack-1x.fa-inverse
          %p.copyright.text-muted Copyright © Your Website 2018
